<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right"> 
       <button class="button button-icon button-clear ion-android-arrow-back">
        </button>
</ion-nav-buttons>      
    </ion-nav-bar>
     <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="profile">
    <ion-content>
      <ion-list>
<div class="pic">
  <br><br>
       <center> <a class="item item-avatar" style="background: url(img//girl1.jpg);">
</a> <h3 style="color:white">Jessica chastain</h3>
</center><br><br></div>
<div class="sea"><br><center>
  <p style="color: white">search for articles  
 <i class="ion-search"></i></p>
</center><br>   </div>

              <a class="item highlight" href="#/app/topNews">Topnews</a>
                  
        <a  class="item highlight" href="#/app/latestNews">LatestNews</a>
              <a class="item highlight" href="#/app/description">Description</a>
                    <a class="item highlight" href="#/app/about">About</a>
                          <a class="item highlight" href="#/app/search">Contact Us</a>
      
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
