<ion-view view-title="Description">
  <ion-content data-ng-init="func()">
    <h2 style="color: orangered" id="title"></h2>
      <div class="list" >
<div class="item item-text-wrap" >
<span id="img"style="height: 50% , width : 50%"></span>
  <h2 style="color: black" id="description"></h2>

      <h4 style="color: deeppink " id="url"></h4>
      <p> <i class="icon ion-person" style="color: dodgerblue"></i> <span style="color: black " id="author"></h4>
        <h4 style="color: green" id="publish"></h4>
</span></p>
</div>
    </center>
  </ion-content>
</ion-view>