<ion-view view-title="TopNews">
  
  <ion-content>
        <div class="item item-text-wrap">
          <ul>                    <li ng-repeat="x in news">
       <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="{{x.urlToImage}}" height="100" width="100">
      <p><h2 style="color: orangered">{{x.title}} </h2></p> 
      <p><h4>{{x.description}} </h4><br></p>
         <p>  <i class="icon ion-person" style="color: orangered"></i>
    {{x.author}}  <span class="item-note">
      <i class="icon ion-clock" style="color: orangered"></i>
      11.01/2017
    </span></p>
    </a></div>
            </li>
        </ul> </div>
  </ion-content>
</ion-view>
